.error { 
  font-size: 22px;
}

body {
  background: black;
}

.ui-part {
  background: rgb(41, 38, 36);
  color: greenyellow;

  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 98%;
  overflow: auto;
}

.ui-part.search input[type=search] {
  width: 80%;
  margin: 5px;
}

.ui-part.search input[type=text] {
  width: 100%;
  background: none;
  border: none;

  color: rgb(236, 106, 26);
  font-size: 14px;
  margin-left: 4px;

}

.button {
  border-radius: 2px;
  box-shadow: inset rgba(255,255,255,0.3) 1px 1px 0;
}
  
.button:active {
  box-shadow: inset rgba(0,0,0,0.4) 0px 0px 6px;
}

.rounded {
  border-radius: 5px;
}

.options-input {
  min-width: 150px;
  display: inline-block;
}

input[type=checkbox] {
  cursor: pointer;
}

.callgraph {
  display: inline;
}

.callgraph-file {
  cursor: pointer;
  width: 220px;
}

.map {
  display: inline;
}

.map-file {
  cursor: pointer;
  width: 220px;
}

.instructions-sheet {
  background: antiquewhite;
  color: black;
  border: solid 1px black;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  font-family: Helvetica Neue;
}

.instructions-sheet code {
  background: white;
  padding: 3px;
}

.instructions-sheet h3 {
  text-decoration: underline;
}

label {
  margin-right: 5px;
}

.hidden {
  display: none;
}

.func_g {
  cursor: pointer;
}

.func_g.match {
  overflow: visible;
}

.func_g.match rect {
  fill: rgb(165, 133, 229);
}

.func_g.blink rect {
  animation: blink 0.2s steps(20, start) infinite alternate;
  -webkit-animation: blink 0.2s steps(20, start) infinite alternate;
}

  @keyframes blink {
    to {
      opacity: 0.3;
    }
  }

  @-webkit-keyframes blink {
    to {
      opacity: 0.3;
    }
  }
