.error { 
  font-size: 22px;
}

body {
  background: black;
}

.ui-part {
  background: rgb(41, 38, 36);
  color: greenyellow;

  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 98%;
  overflow: auto;
}

.button {
  border-radius: 2px;
  box-shadow: inset rgba(255,255,255,0.3) 1px 1px 0;
}
  
.button:active {
  box-shadow: inset rgba(0,0,0,0.4) 0px 0px 6px;
}

.rounded {
  border-radius: 5px;
}

.func_g {
  cursor: pointer;
}

.options-input {
  min-width: 150px;
  display: inline-block;
}

.callgraph {
  display: inline;
}

.callgraph-file {
  cursor: pointer;
  width: 220px;
}

.map {
  display: inline;
}

.map-file {
  cursor: pointer;
  width: 220px;
}

.instructions-sheet {
  background: antiquewhite;
  color: black;
  border: solid 1px black;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  font-family: Helvetica Neue;
}

.instructions-sheet code {
  background: white;
  padding: 3px;
}

.instructions-sheet h3 {
  text-decoration: underline;
}

label {
  margin-right: 5px;
}

.hidden {
  display: none;
}
